
 <p><div class="container">
  <div class="row">
    <div class="col">
      <section>
          <form novalidate [formGroup]="searchByCodeForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Code: </label>
              <input type="number"
                     class="form-control"
                     formControlName="code">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary"  [disabled]="!searchByCodeForm.valid" >Search part by code</button>
         <!-- <pre>{{searchByCodeForm.value | json}}</pre> -->
        </form>

</section>

 <p><div class="container">
  <div class="row">
    <div class="col">
      <section>
          <form novalidate [formGroup]="searchByNameForm" (ngSubmit)="onSubmit2()">
          <fieldset>
            <div class="form-group">
              <label>Name: </label>
              <input type="string"
                     class="form-control"
                     formControlName="name">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary"  [disabled]="!searchByNameForm.valid" >Search part by name</button>
         <!-- <pre>{{searchByNameForm.value | json}}</pre> -->
        </form>

</section>

<section class="main"> 
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Marka</th>
      <th>Model</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of cars">
      <th scope="row">{{c.id}}</th>
      <td>{{c.mark}}</td>
      <td>{{c.model}}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="chosePartGroup(c.id)">Grupa części</button>
      </td>
    </tr>
    </tbody>
  </table>
</section>